# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -----------------------------
# VIRTUAL ENVIRONMENTS
# -----------------------------
venv/

# -----------------------------
# SECRETS
# -----------------------------
.env
.env/
.env.*
!.env.example

# -----------------------------
# LARGE ML / MODEL FILES
# -----------------------------
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# -----------------------------
# DATA FILES
# -----------------------------
*.csv
*.parquet

# -----------------------------
# AUDIO FILES
# -----------------------------
*.wav
*.mp3

# -----------------------------
# LOGS
# -----------------------------
*.log

# -----------------------------
# OS FILES
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE FILES
# -----------------------------
.vscode/
.idea/

# -----------------------------
# STREAMLIT CACHE
# -----------------------------
.streamlit/

# -----------------------------
# MLFLOW
# -----------------------------
mlruns/

# -----------------------------
# TEMP FILES
# -----------------------------
temp_*